@page
@model MyWebApp.Pages.Brands.IndexModel

@{
    ViewData["Title"] = "Brands";
}

<h1>Our Brands</h1>

<div class="row">
    <div class="col-md-6">
        <a asp-page="Create" class="btn btn-primary mb-3">Create New</a>
    </div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Columbia_Sportswear_Co_logo.svg/2560px-Columbia_Sportswear_Co_logo.svg.png" />
            <div class="card-body">
                <h5 class="card-title">Columbia</h5>
                <p class="card-text">Shop Columbia's innovative outdoor clothing, footwear, accessories and equipment.</p>
                <a href="https://columbia-sportswear.ro/" target="_blank" class="btn btn-primary">Visit website</a>
                           
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://i.pinimg.com/736x/98/76/e9/9876e9bb9dc204d6fc78d8c47a2aa863.jpg" alt="Nike">
            <div class="card-body">
                <h5 class="card-title">Nike</h5>
                <p class="card-text">Shop Nike's sportswear, sneakers, and accessories for men, women, and kids.</p>
                <a href="https://www.nike.ro/" target="_blank" class="btn btn-primary">Visit website</a>
             </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://www.salomon.com/themes/custom/salomon_udp_theme/dist/assets/img/salomon-1200x630.jpg" alt="Salomon">
            <div class="card-body">
                <h5 class="card-title">Salomon</h5>
                <p class="card-text">Shop Salomon's ski, snowboard, and outdoor clothing and gear for men, women, and kids.</p>
                <a href="https://www.salomon.com/en-int?glCountry=int" target="_blank" class="btn btn-primary">Visit website</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://blogger.googleusercontent.com/img/a/AVvXsEgu9Ewbgh4ej2z3gB_cQ8Ajf3Vvh2qzNvxMYBOkC70IdBK5Xt3drFjDz1j67Q3rhhBrx9WaASxDhdlzLGMETxTsoGFE9i4aBOJQq-I1Jn9DWREVc4-7fEJepgcWsFl4hRv-TPIsewP9rmMcjEEFB3THpj1w8wb5HqcOyl0s7e0dXEOrb34pxuVaxkP-OQ=s600" alt="Adidas">
            <div class="card-body">
                <h5 class="card-title">Adidas</h5>
                <p class="card-text">Shop Adidas' sportswear, sneakers, and accessories for men, women, and kids.</p>
                <a href="https://www.adidas.com/" target="_blank" class="btn btn-primary">Visit website</a>
             </div>
        </div>
    </div>
</div>
