@page
@using MyWebApp.Pages.Products;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background: url('https://wallpaperaccess.com/full/3214373.jpg');
    background-size: 60%; background-repeat: no-repeat; 
    background-position:center; 
    background-color:lightgrey; ">

 </body>